In [1]:
import pandas as pd
import matplotlib.pyplot as plt

import geopandas as gpd

In [2]:
pd.set_option("display.max.columns", None)

In [3]:
# read in Arctic communities data
communities = gpd.read_file('https://cn.dataone.org/cn/v2/resolve/urn%3Auuid%3Aed7718ae-fb0d-43dd-9270-fbfe80bfc7a4')
communities.head()

          name  population country  geoname-id                   geometry
0      Udomlya       32373      RU      452949  POINT (34.99250 57.87944)
1     Valmiera       26963      LV      453754  POINT (25.42751 57.54108)
2    Ventspils       42644      LV      454310  POINT (21.57288 57.38988)
3  Vec-Liepāja       85260      LV      454432  POINT (21.01667 56.53333)
4       Tukums       18348      LV      454768  POINT (23.15528 56.96694)

In [5]:
# calculate number of communities by country
n_comms = communities.groupby('country').count().name.rename('n_communities')
n_comms = pd.DataFrame(n_comms).reset_index()
n_comms

   country  n_communities
0       AX              1
1       BY              8
2       CA              7
3       DK             72
4       EE             14
5       FI             98
6       FO              1
7       GB             96
8       GL              1
9       IS              5
10      LT             26
11      LV             25
12      NO             48
13      RU            774
14      SE            133
15      US            115

In [10]:
# select Scandinavia
scandi_codes = ['DK','NO','SE','FO','FI','IS','AX']
scandi_n_comms = n_comms[n_comms.country.isin(scandi_codes)]
scandi_n_comms

   country  n_communities
0       AX              1
3       DK             72
5       FI             98
6       FO              1
9       IS              5
12      NO             48
14      SE            133